# *.png
# *.svg
# *.jpg
# *.jpeg
*.zip
# *.ttf
# /Resources

# !Resources/
# Resources/*
# !Resources/ameji metadata/
# Resources/ameji metadata/*
# !Resources/ameji metadata/unicode_to_ameji_standard.py

