img {
	border: none;
}

a:link {
	color: #0000FF;
}

a:visited {
	color: #0000FF;
}

a:active {
	color: #0000FF;
}

a:hover {
	color: #0000FF;
}

.logo {
	padding-bottom: 15px;
	margin-left: -3px;
}

.heading {
	font-size: 1.2em;
	color: #27408B;
}

.heading_note {
	font-size: 0.9em;
	font-style: italic;
}

.field {
	color: #333333;
}

.field_note {
	font-size: 0.75em;
}

.system_green, .system_amber, .system_red {
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	font-size: 11.844px;
	font-weight: bold;
	line-height: 14px;
	padding: 2px 4px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	vertical-align: baseline;
	white-space: nowrap;
	border-radius: 3px;
}

.system_green {
	background-color: #006600;
}

.system_amber {
	background-color: #FFAC00;
}

.system_red {
	background-color: #CC0000;
}

label.database_item {
	float: left;
	width: 150px;
}

label.system_item {
	float: left;
	width: 215px;
}

label.upgrade_item {
	color: #27408B;
	font-weight: bold;
	float: left;
	width: 130px;
}

.required_symbol {
	color: #FF0000;
	font-weight: bold;
	vertical-align: top;
}

.db_details {
	background-color: #FCFCFC;
	border: 1px solid #CCCCCC;
	float: left;
	padding: 5px;
	margin-bottom: 20px;
}

.button {
	background: url("../images/buttons/gradient.gif") repeat-x scroll 0 100% #FFAC47;
	border-color: #ED6502 #A04300 #A04300 #ED6502;
	border-style: solid;
	border-width: 1px;
	color: #FFFFFF;
	cursor: pointer;
	font: bold 12px arial,helvetica,sans-serif;
	padding: 1px 7px 2px;
	text-align: center !important;
	white-space: nowrap;
}

.installer_steps {
	color: #ADAC9C;
	font-family: "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 50px;
	margin-top: 3px;
}

.step {
	float: left;
	width: 16.66%;
}

.active {
	color: #F54409;
}

.past {
	color: #008000;
}

.info, .success, .warning, .error {
	border: 1px solid;
	padding: 5px 5px 5px 25px;
	background-repeat: no-repeat;
	background-position: 5px center;
	position: relative;
	float: left;
	box-shadow: 3px 3px 5px #888888;
}

.info {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../images/messages/information.png');
}

.success {
	color: #4F8A10;
	background-color: #E8FCDC;
	background-image: url('../images/messages/success.gif');
}

.warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../images/messages/warning.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../images/messages/error.gif');
}