/************************************************
    ____                                 
 __/\  _`\                     __  __    
/\_\ \ \/\_\    ___     ___   /\_\/\_\   
\/\ \ \ \/_/_  / __`\ /' _ `\ \/\ \/\ \  
 \ \ \ \ \L\ \/\ \L\ \/\ \/\ \ \ \ \ \ \ 
  \ \_\ \____/\ \____/\ \_\ \_\_\ \ \ \_\
   \/_/\/___/  \/___/  \/_/\/_/\ \_\ \/_/
                              \ \____/   
*	Styles copyright iConji    \/___/    		*
*	Version: 1.0, last edited: 12 May 2010		*
*	Please don't be a dick and steal things		*
*	Handcrafted by Matt Crest, Artletic.com		*
************************************************/

/*------------------------------------------------------------------

[Table of contents]

1. Reset Styles
2. Utilities
3. Base / #content
		3.1. Headers / h1, h2, h3
		3.2. Links / a:link
		3.3. Navigation / #nav
		3.4. Feature Top / #feature_top
		3.5. Main Content / #main
		3.6. Footer / #footer
		3.7. Form Elements / form

4. Page Specific / 


------------------------------------------------------------------*/

/*----------------
 1. RESET STYLES - courtesy of Eric Meyer
 ---------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: #ffffff;
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
 
/*----------------
 2. UTILITIES (common classes for removing margins, padding, floating, clearing, aligning text, etc)
---------------*/
 .clear {
 	clear: both;
 	height: 0;
 	display: block;
 	width: 100%;
 }
 strong {
 	font-weight: bold;
 }
 em {
 	font-style: italic;
 }
 small {
 	font-size: 85%;
 }
 .pad_top10 {
 	padding-top: 10px;
 }
 .pad_top20 {
 	padding-top: 20px;
 }
 .margin-top20 {
 	margin-top: 20px;
 }
 .shim20 {
 	padding: 10px 0;
 	width: 100%;
 	clear: both;
 }
 
 .translatehome {
 	margin: 0 0 0 60px;
 }
 .goog-te-combo {
 	font-size: 12px !important;
 }
 .split50 {
 	float: left;
 	width: 45%;
 	margin: 0 2.5%;
 	display: inline;
 }
/*----------------
 3. BASE
---------------*/
	 
	 /* --- 3.1 TYPOGRAPHY --- */
	 
	 h1 {
	 	font: bold 42px/46px 'TitilliumText14L999wt', Arial, sans-serif;
	 	color: #454545;
	 }
	 	.linux h1 {
	 		font: bold 36px/42px Arial, sans-serif;
	 	}
	 	h1 em {
	 		font-family: 'TitilliumText14L250wt', Arial, sans-serif;
	 	}
	 h2 {
	 	font: 24px/28px 'TitilliumText14L400wt', Arial, sans-serif;
	 	color: #454545;
	 }
	 
	 h3 {
	 	font: 17px/22px 'TitilliumText14L400wt', Arial, sans-serif;
	 	color: #000;
	 }
	 h4 {
	 	font: 14px/20px 'TitilliumText14L999wt', Arial, sans-serif;
	 	color: #454545;
	 }
	 h5 {
	 	font: 12px/16px;
	 	font-weight: bold;
	 	color: #555;
	 	margin-bottom: 0;
	 }
	 h6 {
	 	font: 14px/18px 'TitilliumText14L400wt', Arial, sans-serif;
	 	color: #454545;
	 }
	 p {
	 	color: #555;
	 	font-size: 12px;
	 	line-height: 16px;
	 	margin: 10px 0;
	 }
	 	
	 	/* --- 3.1.2 main_content TYPOGRAPHY --- */
	 	#main_content h2 {
	 		font-size: 28px;
	 		color: #f26722;
	 		margin: 10px 0 0 8px;
	 	}
	 	#main_content h3 {
	 		font-family: 'TitilliumText14L999wt', Arial, sans-serif;
	 		color: #454545;
	 		margin: 15px 0 0 10px;
	 		padding: 2px 0 2px 0;
	 		border-bottom: 3px ridge #d7d7d7;
	 	}
	 	#main_content h4 {
	 		color: #f26722;
	 		margin: 15px 0 0 10px;
	 		padding: 2px 0 2px 0;
	 	}
	 	#main_content h5 {
	 		font-size: 13px;
	 		font-weight: bold;
	 		color: #111111;
	 		margin: 15px 0 -10px 10px;
	 	}
	 	#main_content h6 {
	 		text-align: center;
	 		margin: 15px 0 0 10px;
	 		padding: 3px 0 3px 0;
		 	background: #f5f5f5;
	 		color: #454545;
	 		border-bottom: 1px solid #d7d7d7;
	 		
	 		-webkit-border-top-left-radius: 4px;
	 		-webkit-border-top-right-radius: 4px;
	 		-moz-border-radius-topleft: 4px;
	 		-moz-border-radius-topright: 4px;
	 		border-top-left-radius: 4px;
	 		border-top-right-radius: 4px;
	 	}
	 	#main_content p {
	 		font-size: 13px;
	 		line-height: 18px;
	 		margin: 15px 10px;
	 		color: #111;
	 	}
	 	#main_content ul, #main_content ol {
	 		list-style: disc;
	 		list-style-position: outside;
	 		font-size: 13px;
	 		line-height: 16px;
		 	color: #555;
	 		margin: 15px 0 10px 34px;
	 	}
	 	#main_content ol {
	 		list-style: decimal;
	 	}
	 		#main_content ul ul {
	 			list-style-type: circle;
	 		}
	 		#main_content ol ol {
	 			list-style-type: lower-alpha;
	 		}
	 		#main_content li {
	 			margin: 4px 0 4px 0;
	 		}
	 		
	 	#main_content dl {
	 		font-size: 13px;
	 		line-height: 18px;
	 		color: #777;
	 		margin: 15px 0 10px 10px;
	 	}
	 		#main_content dt {
	 			font-weight: bold;
	 			margin: 5px 0;
	 		}
	 		#main_content dd {
	 			margin: 0 0 10px 2em;
	 		}
	 		
	 	#main_content blockquote {
	 		border-left: 3px ridge #d7d7d7;
		 	color: #777;
		 	font-size: 13px;
		 	line-height: 18px;
		 	margin: 15px 0 15px 1em;
		 	padding: 10px 15px;
		 	background: #f5f5f5;
		 	
		 	
		 	-webkit-box-shadow: 0 -1px 1px #d5d5d5;
		 	-moz-box-shadow: 0 -1px 1px #d5d5d5;
		 	box-shadow: 0 -1px 1px #d5d5d5;		 	
		 	-webkit-border-bottom-right-radius: 4px;
		 	-webkit-border-top-right-radius: 4px;
		 	-moz-border-radius-bottomright: 4px;
		 	-moz-border-radius-topright: 4px;
		 	border-top-right-radius: 4px;
		 	border-bottom-right-radius: 4px;
	 	}
	 		#main_content blockquote p {
	 			color: #777;
	 			margin: 0;
	 		}
	 
	 /* --- 3.2 LINKS --- */
	 a:link, a:visited {
	 	text-decoration: none;
	 	color: #498df2;
	 }
	 a:hover, a:active {

	 }
	 h4 a:hover {
	 	border-bottom: 1px solid;
	 }
	 p a:link, p a:visited {
	 	text-decoration: none;
	 }
	 	p a:hover, p a:active {
	 		text-decoration: underline;
	 	}
	 a.available_appstore {
	 	background: transparent url('../images/appstore-link.png') 0 0 no-repeat;
	 	width: 161px;
	 	height: 54px;
	 	margin: 5px 0;
	 	display: block;
	 	text-indent: -9999em;
	 	overflow: hidden;
	 }
	 a.available_web {
	 	background: transparent url('../images/webapp-link.png') 0 0 no-repeat;
	 	width: 161px;
	 	height: 54px;
	 	margin: 5px 0;
	 	display: block;
	 	text-indent: -9999em;
	 	overflow: hidden;
	 }
	 a.web_app_btn, a.app_store_btn, a.launch_web_app, a.launch_facebook_app, a.launch_social_app, a.launch_developer_api {
	 	background: transparent url('../images/launch_iconji_webapp.png') 0 0 no-repeat;
	 	height: 56px;
	 	width: 193px;
	 	display: block;
	 	text-indent: -9999em;
	 	overflow: hidden;
	 }
	 a.app_store_btn {
	 	background: transparent url('../images/launch_iconji_iphone.png') 0 0 no-repeat;
	 }
	 a.launch_facebook_app {
	 	background: transparent url('../images/launch_iconji_facebook.png') 0 0 no-repeat;
	 }
	 a.launch_developer_api {
	 	background: transparent url('../images/launch_developer_api.png') 0 0 no-repeat;
	 }
	 a.launch_social_app {
	 	background: transparent url('../images/launch_iconji_social.png') 0 0 no-repeat;
	 }
	 	a.web_app_btn:hover, a.app_store_btn:hover, a.launch_web_app:hover, a.launch_facebook_app:hover, a.launch_social_app:hover, a.launch_developer_api:hover {
	 		background-position: 0 -56px;
	 	}
	 	a.web_app_btn:active, a.app_store_btn:active, a.launch_web_app:active, a.launch_facebook_app:active, a.launch_social_app:active, a.launch_developer_api:active {
	 		background-position: 0 -112px;
	 	}
	 a.app_store_btn.coming_soon {
	 	background: transparent url('../images/app_store_soon_btn.png') 0 0 no-repeat;
	 }
	 
	 
	 /* --- 3.3 HEADER --- */
	#header {
		height: 95px;
		background: #fff url('../images/header_bg.png') 0 0 no-repeat;
		margin: 0;
		position: relative;
		top: 0;		
	}
	#logo a {
		height: 72px;
		width: 144px;
		display: block;
		
		position: absolute;
		margin: 10px 0 0 52px;
		background: transparent url('../images/iconji_logo.png') 0 0 no-repeat;
		
		overflow: hidden;
		text-indent: -9999em;
	}
		#logo a:hover {
			background-position: 0 -72px;
		}
		#logo a:active {
			background-position: 0 -144px;
		}
	
		 /* --- 3.3.2 NAVIGATION --- */
		 ul#main_nav {
		 	list-style: none;
		 	background: #d4d4d4 url('../images/nav-main-bg.png') 0 0 no-repeat;
/*		 	background: #d4d4d4;*/
		 	height: 39px;
		 	font: 17px/42px 'TitilliumText14L400wt', Arial, sans-serif;
/*		 	text-indent: -9999em;*/
		 	overflow: hidden;
		 	color: #6a6a6a;
		 	
		 	-webkit-border-top-left-radius: 4px;
		 	-moz-border-radius-topleft: 4px;
		 	border-top-left-radius: 4px;
		 	
		 	-webkit-border-bottom-right-radius: 4px;
		 	-moz-border-radius-bottomright: 4px;
		 	border-bottom-right-radius: 4px;
		 	
		 	position: absolute;
		 	top: 49px;
		 	right: 0px;
		 }
		 	#main_nav li {
		 		float: left;
		 		margin: 0;
		 	}
		 		#main_nav li a {
		 			margin: 0;
		 			color: #5a5a5a;
		 			text-decoration: none;
		 			text-shadow: 0 1px 0 #e7e7e7;
		 			text-align: center;
		 			display: block;
		 			height: 39px;
		 			line-height: 39px;
		 			padding: 0 17px;
		 			background: url('../images/nav-main-bg.png') -133px 0px no-repeat;
		 			border-right: 1px solid #dddddd;
		 			border-left: 1px solid #adadad;
		 		}
		 			#main_nav .first_nav a {
		 				border-left: 0;
		 				background-position: 0 0;
		 			}
		 			#main_nav .last_nav a {
		 				border-right: 0;
		 				background-position: right 0px;
		 			}
		 			#main_nav li a:hover {
		 				background-position: -133px -40px;
		 				border-right: 1px solid #c7c7c7;
		 				border-left: 1px solid #ababab;
		 			}
		 				#main_nav li.first_nav a:hover {
		 					background-position:  0px -40px;
		 					border-left: 0;
		 				}
		 				#main_nav li.last_nav a:hover {
		 					background-position: right -40px;
		 					border-right: 0;
		 				}
		 			#main_nav li a:active, #main_nav .current {
		 				background-position: -133px -80px;
		 				color: #eaeaea;
		 				text-shadow: 0 1px 0 #454545;
		 			}
		 				#main_nav li.first_nav a:active, #main_nav .first_nav .current {
		 					background-position:  left -80px;
		 				}
		 				#main_nav li.last_nav a:active, #main_nav .last_nav .current {
		 					background-position: right -80px;
		 				}		 			
		 		
		 ul#utility_nav {
		 	list-style: none;
		 	position: absolute;
		 	top: 16px;
		 	right: 18px;
		 }
		 	#utility_nav li {
		 		float: left;
		 		margin: 0 0 0 4px;
		 	}
		 	#utility_nav li#translate {
		 		position: relative;
		 		top: -6px;
		 		margin-right: 8px;
		 		text-indent: -9999px;
		 		overflow: hidden;
		 	}
		 		#utility_nav #translate span {
		 			display: none;
		 		}
		 	#utility_nav a:link, #utility_nav a:visited {
		 		color: #808080;
		 		text-decoration: none;
		 		font-weight: bold;
		 		font-size: 11px;
		 		padding: 2px 8px 3px;
		 	}
		 	#utility_nav a:hover, .currentLanguage {
		 		background: #eaeaea;
		 		
		 		-webkit-box-shadow: 0 -1px 1px #d5d5d5;
		 		-moz-box-shadow: 0 -1px 1px #d5d5d5;
		 		box-shadow: 0 -1px 1px #d5d5d5;
		 		
		 		-webkit-border-radius: 15px;
		 		-moz-border-radius: 15px;
		 		border-radius: 15px;
		 	}
		 	#utility_nav a:active, .currentLanguage {
		 		background: #dfdfdf;
		 		
		 		-webkit-box-shadow: 0 -1px 1px #c9c9c9;
		 		-moz-box-shadow: 0 -1px 1px #c9c9c9;
		 		box-shadow: 0 -1px 1px #c9c9c9;
		 	}
		 	#utility_nav a#launch_facebook, #utility_nav a#launch_iconji {
		 		padding-left: 24px;
		 		background-image: url('../images/networks/facebook.png');
		 		background-position: 1px 0px;
		 		background-repeat: no-repeat;
		 		
		 		-webkit-border-top-left-radius: 2px;
		 		-webkit-border-bottom-left-radius: 2px;
		 		-moz-border-radius-topleft: 2px;
		 		-moz-border-radius-bottomleft: 2px;
		 		border-top-left-radius: 2px;
		 		border-bottom-left-radius: 2px;
		 	}
		 	#utility_nav a#launch_iconji {
		 		background-image: url('../images/iconji_16.png');
		 	}
		 	#utility_nav a#launch_twitter {
		 		background: url('../images/networks/twitter.png') center 0px no-repeat;
		 		padding-left: 14px;
		 		padding-right: 14px;
		 	}
		 	
	ul.sub_nav {
		list-style: none;
		font-size: 12px;
		line-height: 16px;
		margin: 10px -20px 10px 0;
	}
		ul.sub_nav ul {
			margin-left: 20px;
		}
		.sub_nav li a {
			display: block;
			padding: 7px 6px 7px 10px;
			margin-bottom: 5px;
			color: #656565;
			border-right: 0;
			background: #d9d9d9;
			
			-webkit-border-bottom-left-radius: 4px;
			-webkit-border-top-left-radius: 4px;
			-moz-border-radius-bottomleft: 4px;
			-moz-border-radius-topleft: 4px;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
			.sub_nav li a.current {
				background: #fff;
				color: #454545;
				-webkit-box-shadow: -1px 0 2px #ccc;
				-moz-box-shadow: -1px 0 2px #ccc;
			}
			.sub_nav li a:hover {
				background: #fff url('../images/sidebar_link_bg.png') right 0 repeat-y;
				padding-right: 3px;
	 			color: #498df2;
				-webkit-box-shadow: -1px 0 2px #ccc;
				-moz-box-shadow: -1px 0 2px #ccc;
			}
			.sub_nav li a.current:hover {
				background-image: none;
				color: #454545;
				margin-left: 0;
				cursor: default;
			}
	 
	 /* --- 3.4 FEATURE TOP --- */
	 #feature_top {
	 	margin: 0 0 10px 60px;
	 }
	 	#page_home #feature_top {
	 		margin: 0 0 10px 0;
	 		padding-left: 60px;
/*	 		height: 350px;*/
	 		width: 900px;
	 		overflow: hidden;
	 		background: url('../images/home_feature_bg.png') center center no-repeat;
	 		position: relative;
	 	}
	 	
	 	#feature_top h1 {
	 		margin: 50px 0 10px 0;
	 	}
	 	#feature_top h3 {
	 		font: 17px/22px 'TitilliumText14L250wt', Arial, sans-serif;
	 		color: #555555;
	 		margin: 10px 0 20px 0;
	 	}
	 	#feature_top h4 {
	 		font: 14px/18px 'TitilliumText14L600wt', Arial, sans-serif;
	 		color: #555555;
	 		margin: 16px 0 20px 0;
	 	}
	 	#feature_top a.web_app_btn {
	 		float: left;
	 		margin: 0 20px 0 0;
	 	}
	 #feature_top .grid_7:first-child {
	 	
	 }
	 
	 #sample_iconjisation {
	 	width: 430px;
	 	height: 350px;
	 	background: transparent url('../images/home_conversation.jpg') 0 -10px no-repeat;
	 }
	 
	 /* --- 3.5 MAIN --- */
	 #main {
	 	background: #f5f5f5 url('../images/main_content_bg.png') 0 0 repeat-x;
	 	margin-top: 10px;
	 	-webkit-border-radius: 8px;
	 	-moz-border-radius: 8px;
	 	border-radius: 8px
	 }
	 #sidebar {
	 	width: 220px;
	 	padding: 5px 0 5px;
	 	margin: 0px 10px 20px;
	 	float: left;
	 }
	 	#sidebar h4 {
	 		margin: 14px 10px 10px 10px;
	 	}
	 	#sidebar p {
	 		font-size: 11px;
	 		margin: 10px 10px;
	 	}
	 
	 #main_content_wrap {
	 	width: 700px;
	 	margin: 0 0 0 10px;
	 	background: #fff;
	 	float: left;
	 	padding-bottom: 8px;
	 	background: transparent url('../images/main_wrap_shadow-700px.png') 50% bottom no-repeat;
	 	display: block;
	 }
	 #main_content {
	 	background: #fff;
	 	width: 660px;
	 	margin: 10px 0 0 0;
	 	padding: 20px 20px 0 20px;
	 	height: 100%;
	 	
	 	
	 	-webkit-border-radius: 6px;
	 	-moz-border-radius: 6px;
	 	border-radius: 6px;
	 }
	 #feature_main_wrap {
	 	padding-bottom: 8px;
	 	background: transparent url('../images/main_feature_shadow.png') 50% bottom no-repeat;
	 	display: block;
	 }
	 #feature_main {
	 	background: #fff;
	 	margin-top: 10px;
	 	height: 100%;
	 	display: block;
	 	
	 	-webkit-border-radius: 6px;
	 	-moz-border-radius: 6px;
	 	border-radius: 6px;
	 	-webkit-box-shadow: 0 0 2px #e5e5e5;
	 }
	 	#feature_main h2 {
	 		position: relative;
	 		text-align: center;
	 		top: -20px;
	 	}
	 		#feature_main h2 span {
	 			background: #fff;
	 			padding: 2px 15px;
	 			font-family: 'TitilliumText14L999wt', Arial, sans-serif;
	 			font-weight: bold;
	 		}
	 		#feature_main h2 span em {
	 			font-family: 'TitilliumText14L600wt', Arial, sans-serif;
	 		}
	 	#feature_main .feature_box {
	 		width: 240px;
	 		min-height: 180px;
	 		padding: 20px 0 0 200px;
	 		margin-left: 10px;
	 	}
	 	#feature_main h3 {
	 		font-family: 'TitilliumText14L600wt', Arial, sans-serif;
	 	}
	 	#iphone_feature {
	 		background: transparent url('../images/iphone_home_feature.png') left bottom no-repeat;
	 	}
	 	#webapp_feature {
	 		background: transparent url('../images/webapp_home_feature.png') left bottom no-repeat;
	 	}
	 	
	 	
	 .content {
	 	
	 }
	 
	 #teasers {
	 	margin: 0;
	 	clear: both;
	 }
	 	#teasers .teaser_box {
	 		width: 220px;
	 		padding: 10px 0 5px;
	 		margin: 20px 10px !important;
	 		margin: 20px 5px;
	 		float: left;
	 		border-top: 2px ridge #d7d7d7;
	 	}
	 		#teasers .teaser_box:first-child {
	 			
	 		}
	 
	 /* --- 3.6 FOOTER --- */
	 #footer {
	 	margin: 20px 0;
	 }
	 #footer p, #footer p a {
	 	font-size: 11px;
	 	color: #ccc;
	 }
	 
	 
	 
	 /* --- 3.7 FORM ELEMENTS --- */
	 form {
	 
	 }
	 
	 /* --- 3.8 TABLE ELEMENTS --- */
	 table {
	 	
	 }
	 thead {
	 	background: #adadad;
	 	color: #fff;
	 	font-size: 12px;
	 }
	 	th {
		 	font-weight: bold;
	 		padding: 8px 0;
	 		text-align: center;
	 		border-left: 1px solid #bcbcbc;
	 	}
	 		th:first-child {
	 			text-align: left;
	 			padding-left: 20px;
	 			border-left: 0;
	 		}
	 		th a:link, th a:visited {
	 			color: #fff;
	 		}
	 			th a:hover {
	 				color: #498df2;	
	 			}
	 td{
	 	text-align: left;
	 }
		 td:first-child{
		 	text-align: left;
		 	padding-left: 20px;
		 	font-size: 11px;
		 }
		 td.yes {
		 	background-image: url('../images/icon-yes.png');
		 	background-position: center center;
		 	background-repeat: no-repeat;
		 	text-indent: -9999em;
		 }
		 td.no {
		 	background-image: url('../images/icon-no.png');
		 	background-position: center center;
		 	background-repeat: no-repeat;
		 	text-indent: -9999em;
		 }
	 tbody tr:nth-child(even) {
	   background: #eaeaea;
	 }
	 tbody td {
	 	padding: 5px 0;
	 }
	 tbody tr:hover {
	 	background:  #f3ecd5;
	 }
	 .nohighlight tr:hover {
	 	background: inherit;
	 }

table#meanings th:first-child {
	padding-left: 0;
	text-align: center;
}
table#meanings tbody td {
	text-align: left;
	vertical-align: middle;
	
}
	table#meanings tbody td img {
	}
	table#meanings tbody td:nth-child(odd) {
		text-align: center;
	}
	table#meanings tbody td:nth-child(even) {
		border-right: 1px solid #ccc;
	}
	table#meanings tbody td:last-child {
		border-right: 0;
	}	 
/*----------------
 4. PAGE SPECIFIC STYLES
---------------*/

/* Home page */
.intro_left {
	float: left;
	width: 720px;
}
#page_home #demo {
	width: 430px;
	height: 350px;
	float: left;
	position: relative;
	overflow: hidden;
	background: rgba(255, 255, 255, .3);
}
#page_home #animation {
	width: 300px;
	height: 200px;
	float: left;
	position: relative;
	overflow: hidden;
	background: rgba(255, 255, 255, .3);
}
#play_intro {
	height: 51px;
	width: 96px;
	display: block;
	text-indent: -9999em;
	background: url('../images/play_movie_btn.png') 0 0 no-repeat;
	
	position: absolute;
	top: 130px;
	left: 30px;
}
	#play_intro:hover {
		background-position: 0 -53px;
	}
	#play_intro:active {
		background-position: 0 -109px;
	}
#intro_video {
	width: 320px;
	height: 350px;
	display: block;
	visibility: hidden;
	
	position: absolute;
	right: 37px;
	z-index: 9;
	
	/* testing styles only */
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 350px;
}
	#slides {
		position: relative;
		top: 1px;
		width: 320px;
		height: 350px;
		background: #fff;
	}
		#slides li {
			position: absolute;
			top: 0;
			left: 0;
			width: 320px;
			height: 350px;
			display: block;
		}
		#slides #intro_modal_link {
			display: block;
			background: #fff;
			font-size: 14px;
		}
			#slides a#intro_modal_link:hover {
				text-decoration: underline;
			}
	#intro_modal {
		/*height: 400px;
		width: 660px;*/
	}
		#intro_modal object {
			margin: 0 auto;
			padding: 10px 5px;
		}
#slideshow {
    position:relative;
    height:316px;
    left: 100px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:10;
    z-index:8;
    opacity:0.0;
}

#slideshow IMG.active {
    z-index:100;
    opacity:1.0;
}

#slideshow IMG.last-active {
    z-index:9;
}

#page_home #iphone_bg {
	width: 463px; /* 100% */
	height: 806px; /* 100% */
	
	width: 181px;
	height: 316px;
	margin-top: 30px;
	margin-left: 136px;
}
#page_home #iphone_web_bg {
	height: 316px;
	margin-top: 30px;
	margin-left: 120px;
}

/* Forms */
form {
	margin: 20px 0;
	padding-bottom: 14px;
}
form p {
	clear: both;
	margin: 10px 20px;
}
form h1, form h2, form h3, form h4, form h5 {
	clear: both;
	margin: 10px 0 15px 10px !important;
	padding-top: 15px;
}
fieldset {
	clear: both;
	margin: 15px 0;
	border: 1px dotted #c5c5c5;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
legend {
	font: 17px/21px 'TitilliumText14L800wt', Arial, sans-serif;
	color: #777;
	margin-left: 10px;
}
label {
	margin: 5px 10px 4px 0;
	padding: 4px 0;
	display: block;
	clear: left;
	font-size: 12px;
	text-align: right;
	float: left;
	width: 220px;
}
label.check, label.radio {
	margin-left: 230px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	width: 385px;
}
input[type="checkbox"], input[type="radio"], select {
	margin: 0 10px 0 0;
	padding: 0;
	clear: right;
}
select {
	margin-top: 9px;
	display: block;
}
	 .required {
		color: #cc2127;
	}
input[type="text"], input[type="password"], input[type="file"] {
	width: 200px;
	margin: 2px 0 10px 0;
	padding: 4px;
	background: #f5f5f5;
	font: normal 14px Arial, Helvetica, sans-serif;
	border: 3px solid #e5e5e5;
	outline: 0;
	float: left;
	clear: right;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input[type="file"] {
	width: 400px;
}
	#character_upload {
		margin-left: 230px;
	}
input[type="password"] {
	letter-spacing: .2em;
}
textarea {
	width: 400px;
	height: 80px;
	float: left;
	display: block;
	padding: 4px;
	margin: 0 0 10px 0;
	background: #f5f5f5;
	font: normal 14px Arial, Helvetica, sans-serif;
	border: 3px solid #e5e5e5;
	outline: 0;
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="file"]:focus, input[type="text"]:active, input[type="password"]:active, input[type="file"]:active, textarea:focus, textarea:active {
		border-color: #b5b5b5;
	}
button[type="submit"], input[type="submit"] {
	padding: 5px 20px;
	display: block;
	overflow: hidden;
	clear: both;
	border: 3px solid #e5e5e5;
	cursor: pointer;
	margin: 0 0 0 230px;
	background: #d4d4d4 url('../images/nav-main-bg.png') 0 0 no-repeat;
	background: #f5f5f5;
 	font: 17px/21px 'TitilliumText14L800wt', Arial, sans-serif;
 	overflow: hidden;
 	color: #6a6a6a;
 	text-shadow: 0 1px 0 #e7e7e7;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
}
button[type="submit"]:hover, button[type="submit"]:focus, button[type="submit"]:active, input[type="submit"]:hover, input[type="submit"]:focus, input[type="submit"]:active {
		border-color: #b5b5b5;
		background-color: #d4d4d4;
}
#subForm button[type="submit"] {
	background-image: url('../i/subscribe_btn.png');
}
#loginForm button[type="submit"], .submit_btn {
	width: 103px;
	background-image: url('../i/login_btn.png');
}
form#explore_form {
	margin: 10px 0 10px 20px;
}
	#explore_form select {
		clear: none;
		display: inline;
		margin-left: 10px;
		margin-right: 10px;
	}
	#explore_form input[type="submit"] {
		clear: none;
		display: inline;
		margin-left: 5px;
		padding: 2px 20px;
	}


/* Dev and API page styles */

#page_dev table {
	width: 100%;
	margin: 2px 0 20px 0;
	padding-left: 10px;
	color: #555;
}
	#page_dev code {
		font-family: monospace;
		background: #efefef;
		color: #555;
	}
	#page_dev #main_content pre {
		color: #555;
		font-size: 12px;
		line-height: 16px;
		background: #efefef;
		overflow: auto;
		margin: 0 0 10px 10px;
		padding: 6px 10px;
		border: 1px solid #EEE;
		overflow: auto;
		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px
	}
		#page_dev #main_content > code {
			font-size: 12px;
			overflow: auto;
		}
	#page_dev #main_content table pre {
		width: 433px;
		margin: 0;
	}
	#page_dev #main_content table code {
		font-family: monospace;
		font-size: 12px;
		overflow: auto;
		background: #efefef;
	}
	
	#page_dev h3 {
		border-bottom: none;
	}
	#page_dev table tr {
		background: #fefefe;

	}
	tbody tr:nth-child(even) {
		background: #fefefe;
	}
	
	
	#page_dev table tr td {
		text-align: left;			
		border-top: 1px solid #EEE;
		padding: 12px 0;
		font-size: 12px;
		width: 70%;
	}
	
	#page_dev table tr td:first-child {
		width: 30%;
		font-weight: bold;
	}
